.item>div{
  display: inline-block;
  margin: 0 2mm;
}
.item{
  margin-top: 5mm;
  margin-left: 0;
}
#item_total{
  margin-top: 5mm;
  margin-bottom: 10mm;
  margin-left: 0;
}

@media print{
  body{
    position: absolute;
    display:block;
    width:80mm;
  }
  body>*{
    margin:0 5mm;
  }
  #subtitle{
    display: block;
    width: 100%;
    text-align: center;
    margin:10mm 5mm;
  }
  #receipt_caption{
    display:block;
    width: 100%;
    text-align: center;
    margin: 0;
    margin-top: 5mm;
  }
  .print_hidden{
    display: none;
  }
  #date{
    width: 100%;
    text-align: right;
  }
  body>*:first-child:not(.print_hidden){
    margin-top:10mm;
  }
  body>*:last-child:not(.print_hidden){
    margin-bottom: 10mm;
  }
  #receipt{
    position:absolute;
    left=0;
    width: 160mm;
    height: 80mm;
    border-right: solid 1px #000;
    transform-origin:bottom;
    transform: rotate(-90deg);
  }
  #receipt_title{
    margin: 5mm 0;
    text-align: center;
    font-size: 1.8rem;
  }
  #receipt_serial{
    display: block;
    text-align: right;
    padding-right: 10mm;
  }
  #receipt_deco{
    text-align: center;
    font-size: 1.5rem;
    text-decoration: underline;
  }
  #receipt_price{
    text-align: center;
    margin: 5mm 0;
    font-size: 1.5rem;
  }
  #receipt_proviso{
    text-align: center;
    margin-top: 3mm;
  }
  #receipt_date{
    display: inline-block;
    position: absolute;
    bottom:12mm;
    right: 45mm;
  }
  #receipt_pub{
    display: inline-block;
    position: absolute;
    bottom:5mm;
    right: 40mm;
    font-size: 0.8rem;
  }
  #receipt_stamp{
    position: absolute;
    bottom: 5mm;
    right: 5mm;
    width: 30mm;
    height: 30mm;
    margin: 0;
    text-align: center;
    vertical-align: middle;
    font-size: 1.5rem;
    border: solid 1px #000;
  }
  #item_total{
    width:100%;
    text-align: right;
  }
}

@page{
  width: 80mm;
  margin:0;
}

@media screen {
  #receipt{
    display: none;
  }
}
